#eclipse files
.project
.cproject
*.launch
.metadata/
.settings/
RemoteSystemsTempFiles/
backup/

#compiled
*.o !test01.o !hello1.o !hello2.o
*.so
*.a
.dep/
build/

#backup
*.*~

#embryo compiler
obj/
embryo_cc
embryo_cc.exe
*.asm01
*.p
*.eaf

#embryo library
armdir/
simdir/

#embryo similator
embryo_sim
embryo_sim.exe

#other
.* !.gitignore
