#eclipse files
.project
.cproject
.metadata/
.settings/
RemoteSystemsTempFiles/
backup/

#compiled
*.o
*.so
*.a
.dep/
build/

#backup
*.*~

#embryo compiler
obj/
embryo_cc
embryo_cc.exe
*.asm01
*.p
*.eaf

#embryo library
armdir/
simdir/


#other
.* !.gitignore
